* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(254, 227, 136);
}
.setumei{
  margin: 3%;
  display: flex;
  justify-content: center;
  font-size: 130%;
}
.stage {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  width: 400px;
  height: 400px;
  background: #228B22;
  margin: auto;
  
}
.count {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  margin: 10px 0;
}
.count span {
  margin: 0 10px;
}

.masu {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  box-sizing: border-box;
  cursor: pointer;
  background: #006400;
  display: flex;
  justify-content: center;
  align-items: center;
}
#masutemplate {
  display: none;
}
#masuhantei{
  margin-bottom: 30px;
  color:red;
  font-size: 150%;
}
.stone {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.stone[data-state="0"] {
  display: none;
}
.stone[data-state="1"] {
  background-color: black;
}
.stone[data-state="2"] {
  background-color: white;
}
.turn{
  font-size: 30px;
  display: flex;
  justify-content: center;
}
#kekka{
  font-size: 30px;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  border-bottom: black;
}

.btn{
  display: flex;
  justify-content: center;
}

.can-put {
  background-color: yellowgreen !important;
}

#masuhantei{
  display: flex;
  justify-content: center;
}
button{
  margin: 5%;
  padding: 20px 20px;
  border-radius: 10px;
}
#resetBtn{
  background-color: rgb(255, 55, 0);
  color: white;
}
#passBtn{
  background-color: rgb(0, 157, 255);
  color: white;
}
#resetBtn:hover{
  background-color: rgba(255, 60, 0, 0.429);
}
#passBtn:hover{
  background-color: rgba(0, 157, 255, 0.372);
}
.board-area {
  display: flex;
  align-items: center;
  position: relative;
  padding: 3%;
}
.side-info{
  position: absolute;
  top: 30%;
  right: 15%;
  width: 20%;
}
.count{
  font-size: 150%;
}

